<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791022711249-kb8hft6pk0cahhub0cugbtrt473i94np.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791022711249-kb8hft6pk0cahhub0cugbtrt473i94np</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>791022711249-65cb7a3lbas8h7esodtqhtf31idjntil.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkWxBe5Mvka6c8QFvjAl2JABvegobovT8</string>
	<key>GCM_SENDER_ID</key>
	<string>791022711249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anjasolutions.tiutiuapp</string>
	<key>PROJECT_ID</key>
	<string>tiutiu-5cd14</string>
	<key>STORAGE_BUCKET</key>
	<string>tiutiu-5cd14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791022711249:ios:30fcded7e40e01623170f0</string>
	<key>DATABASE_URL</key>
	<string>https://tiutiu-5cd14.firebaseio.com</string>
</dict>
</plist>