<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIconFile</key>
		<string></string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSMinimumSystemVersion</key>
		<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
		<key>NSHumanReadableCopyright</key>
		<string>$(PRODUCT_COPYRIGHT)</string>
		<key>NSMainNibFile</key>
		<string>MainMenu</string>
		<key>NSPrincipalClass</key>
		<string>NSApplication</string>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>NSCameraUsageDescription</key>
		<string>Precisamos ligar sua câmera para você tirar uma foto para o seu perfil ou do PET que
			está postando.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Precisamos de ter acesso a sua localização para que consigamos mostrar os animais
			mais próximos do seu local ou para que o PET que você postar tenha um local de
			referiencia associado a ele.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Precisamos de ter acesso a sua localização para que consigamos mostrar os animais
			mais próximos do seu local ou para que o PET que você postar tenha um local de
			referiencia associado a ele.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Precisamos ligar seu microfone para você gravar um vídeo do PET que está postando.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Precisamos acessar sua galeria para você pegar uma foto para o seu perfil ou do PET
			que está postando.</string>
	</dict>
</plist>